.placeholder {
    width: 15vh;
    height: 20vh;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}

.cardimg {
    height: 10vh;
    width: 12vh;
    background-color: blue;
}

.card {
    width: 230px;
    height: 265px;
}